@model Aquarius.Models.AcctModels.AcctDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcctID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcctID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcctName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcctName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcctType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcctType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvestorID)
        </dd>
    </dl>
    <h4>Purchases</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.Purchases)
        {

            <dt>@Html.DisplayNameFor(modelItem => item.PurchaseID)</dt>
            <dd>@Html.DisplayFor(modelItem => item.PurchaseID)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.PurchaseDate)</dt>
            <dd>@Html.DisplayFor(modelItem => item.PurchaseDate)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.Symbol)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Symbol)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.Quantity)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Quantity)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.Total)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Total)</dd>
            <dd></dd>
            <dd>@Html.ActionLink("View Transaction", "Details", "Purchase", new { id = item.PurchaseID }, null)</dd>
        }

    </dl>
    <h4>Sales</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.Sales)
        {

            <dt>@Html.DisplayNameFor(modelItem => item.SaleID)</dt>
            <dd>@Html.DisplayFor(modelItem => item.SaleID)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.SaleDate)</dt>
            <dd>@Html.DisplayFor(modelItem => item.SaleDate)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.Symbol)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Symbol)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.Quantity)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Quantity)</dd>
            <dt>@Html.DisplayNameFor(modelItem => item.Total)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Total)</dd>
            <dd></dd>
            <dd>@Html.ActionLink("View Transaction", "Details", "Sale", new { id = item.SaleID }, null)</dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AcctID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
